<html>
<head>
    <style>
        .name {
            color: red;
        }
    </style>
</head>

<body>
<div>
    <h1>
        $hello
        <span class="name">$person.getName()</span>
    </h1>

    <h4>(Velocity template)</h4>
</div>
</body>
</html>